@import "./variables";

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
	user-select: none !important;
}

// sizes
@each $size in $sizes {
	.w-#{$size} {
		width: percentage($size);
	}
	
	.h-#{$size} {
		height: percentage($size);
	}
}

// default font & colors
html, body {
	overflow-x: hidden;
}

body {
	background-color: rgb(30, 30, 30);
	color: gainsboro;
	font-family: Arial, sans-serif;
	scrollbar-width: thin;
	scrollbar-color: $thumb-bg $scrollbar-bg;

	h1, h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 3em;
		font-weight: 600;
	}
}

// containers
.container-xl {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

// scrollbar
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: $scrollbar-bg;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $thumb-bg;
	border: 3px solid $scrollbar-bg;
	border-radius: 10px;
}

.gradient {
	background: linear-gradient(90deg, rgba(108, 0, 112, 1) 0%, 
	rgba(12, 0, 141, 1) 50%, rgba(0, 152, 184, 1) 100%);
}

// Materialize & AnimateCSS
@import "../../../node_modules/materialize-css/sass/materialize";
