@import "./common.scss";

.nav {
	padding: 1em 0;

	a {
		color: black !important;
	}

	#{&}-search {
		i {
			color: black !important;
		}
	}
}

.cardbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em 0;

	article {
		margin: 1em;
		max-width: 15em;
		min-width: 15em;

		section {
			font-size: 0.7em;
		}
	}
}

.search-dropdown {
	div {
		cursor: pointer;
		margin: 0.5em;

		&:hover {
			color: orange;
		}

		&:visited {
			color: indigo;
		}
	}
}
