@import "./common";

.nav {
	padding: 1em 0;

	a {
		color: black !important;
	}

	#{&}-search {
		i {
			color: black !important;
		}
	}
}

.cardbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em 0;

	article {
		margin: 1em;
		max-width: 15em;
		min-width: 15em;

		header {
			img {
				border: 1px solid silver;
			}
		}

		section {
			font-size: 0.9em;

			span {
				font-size: 1.7em;
				font-weight: 400;
			}
		}
	}

	@include media(tablet_mobile, portrait) {
		article {
			margin: 1em;
			max-width: 15em;
			min-width: 15em;
		}
	}
}

.search-dropdown {
	div {
		cursor: pointer;
		margin: 0.5em;

		&:hover {
			color: orange;
		}

		&:visited {
			color: indigo;
		}
	}
}
