@import "./common.scss";

.nav {
	padding: 1em 0;

	a {
		color: black !important;
	}

	#{&}-search {
		i {
			color: black !important;
		}
	}
}

.search-dropdown {
	div {
		cursor: pointer;
		margin: 0.5em;

		&:hover {
			color: orange;
		}

		&:visited {
			color: indigo;
		}
	}
}
